$primary-color: #010A18;
$secondary-color: #C6C8CB;
$background-dark: #C7C9CC;
$background-light: #F6F6F7;
$secondary-dark: #60666E;
$highlights-color: #3CC392;

$light-pink: #FED0DC;
$light-green: #B9EAD8;
$light-orange: #FFDDD2;
$light-purple: #E6B4E5;
$light-blue: #BFE9FF;