@import './color';

.dashboard {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 280px 1fr;
}

main {
    max-width: 100%;
    padding: 2em;
    min-height: 105vh;
}

.search_field {
    background-image: url('../search_black_24dp.svg');
    outline: none;
    padding: 10px 3em;
    border-radius: 5px;
    width: 100%;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.top_searchbar {
    border-bottom: 1px solid $secondary-color;
    margin-bottom: 2em;
    .search_field {
        padding: 1em 4em;
        font-size: 18px;
    }
}

// Responsive Style for Tablet
@media (max-width: 920px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
  main {
    overflow: hidden;
  }
}
@media (max-width: 750px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}