@import './Styles/Dashboard.module.scss';
@import './Styles/User.module.scss';
@import './Styles/Sidebar.module.scss';
@import './Styles/FundReq.module.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #FBFBFC;
}

span.icon {
  font-family: 'Material Icons';
  font-size: 22px;
}